body {
  height:110vh;
  width:100vw;
  background:linear-gradient(145deg, #4B87FF,#4B87FF 60%, white 60%, white);
}
.contact-me{
  background-image:linear-gradient(to right,#5d5d5d,#373640);
  width: 100%;
  height: 250px;
}
.header-area{ margin-top: 0px;
  height: auto;}
.topnav {
  background: #4B87FF;
  overflow: hidden;
  height:50px;
  padding:16px;
  border-bottom:1px white solid;
}

.nav-items{
  display:inline-block;
  width:calc(100% - 200px);
  text-align:right;

}

ul,li{
  margin:0;
  padding:0;
}

.nav-items ul{
  list-style:none;
  display:inline-block;

}

.nav-items ul li{
  display:inline-block;
  padding-right:16px;

}
.logo {height: 40px;}
.brand{
  display:inline-block;
  padding-right:;

}


.topnav a {
  color: #FFFFFF;

  /*padding: 14px 16px;*/
  text-decoration: none;
  font-size: 24px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a:active {
  background-color: #4B87FF;
  color: white;
}
.header {
  padding: 60px;
  padding-top:0;
  text-align: center;
  background: #4B87FF;
  color: white;
  font-size: 30px;
}
.header h4{
  margin:0;
}
.main-content {
  padding-top: 150px ;
  padding-left: 120px;
  position: relative;
  left: 2px;
  width: 55%;
}
.head-1{ color: white;
width:75%;
text-decoration: underline;
text-align: left;}
.subhead-1{ color: white;
width:80%;
text-align: left;
  margin-top: 35px}
.list2 {text-align: left;
  margin-top: 25px;
width: 70%;}
.head-2 {color: #7A7A7A;
  text-decoration: underline;
  text-align: left;
}
.main-content2{
  padding-top: 50px ;
  padding-right: 30px;
  color: #7A7A7A;
  text-align: left;
  position: relative;
  left: 950px;
  width: 35%;
}



.btn-createnow {
  border-radius: 400px;
  width: 170px;
  text-align: center;
  position: relative;
  bottom: 260px;
left: 120px;
height: 40px;
text-decoration-color: none;
text-shadow: none;
text-decoration: none;
border-width: 3px;
font-size: 20px;
font-family: lato;
border-style: solid;
border-color: white;
  background: #4B87FF;
  color: white;
}

.btn-createnow:hover {background-color: white;
  border-color: #4B87FF;
  color: #4B87FF;
}


.btn-verifynow { border-color: white;
  background: #4B87FF;
  color: white;
  font-size: 20px;
  font-family: lato;

  border-width: 3px;
  border-style: solid;
  border-radius: 40px;
  width: 170px;
  text-decoration: none;
  text-shadow:0;
  text-align: center;
  position: relative;
  bottom: 210px;
 right: 53px;
 height: 40px;

}

.btn-verifynow:hover {background-color: white;
  border-color: #4B87FF;
  color: #4B87FF;
}

.footer{

color:white ;
text-align:center;
line-height: 1.6;

}
.icons{
  text-align: center;
  margin-top: -9px;

}
.footer-1{
  color: white;
  font-size: 20px;
  text-align: left;
  margin-left: 201px;
  padding-left: 30px;

}
.footer-2{
  color: white;
  font-size: 17px;
  text-align: left;
  margin-left: 102px;
  padding-left: 10px;


}
.footer-3{
  color: white;
  font-size: 20px;
  text-align:right;
  margin-right: 160px;
  padding-left: 30px;


}
.footer-4{
  color: white;
  font-size: 17px;
  padding-left: 200px;
  margin-left: 100px;



}
.footer-link-2{
  color: white;
  text-align:right;
  margin-left:370px;
  width: 70%;
  border: 2px solid white ;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 20px;
  line-height: 1.6;


}
.footer-link-1{
  color: white;
  text-align:left;
  margin-left: 185px;
  width: 70%;
  border: 2px solid white;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
border-radius: 20px;
line-height: 1.6;
}
.footer-link-3{
  color: white;
  text-align:right;
  margin-left: 50px;
  width: 70%;
  border: 2px solid white;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 20px;
  line-height: 1.6;
}
.sameline{
  display: inline-block;

}
.sameline-1{
  display: inline-block;
}
.sm{
  height:40px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  display:inline-block;
  margin-top:0px;
}
