body {
  font-family: 'Lato', sans-serif;
  color: gray;
}
.navbarcustom {
  background-color: #4B87FF;
}

/* Verify page style */

#btn-blue-invert {
  color: #4B87FF;
  border: 2px solid #4B87FF;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 4px 15px;
  margin: 4px 4px;
  cursor: pointer;
}

#btn-blue-invert:hover {
  background-color: #4B87FF;
  color: white;
  text-decoration: none;
  transition-duration: 0.4s;
}

.verify-form-input {
  width: 300px;
  height: 50px;
  margin-bottom: 25px;
  margin-top: 60px;
  transition: width .2s ease-in-out;

}
.verify-form-input:focus{
  max-width: 450px;
  width: 450px;
  outline-width: 0;
}


.verifycontainer {
  margin-top: 50px;
}

.verifyheading {
  text-decoration: underline;
}

.text-data {
  margin: 25px 0px;
}


/* Verified certificate page style */

.verified_certificate {
  max-width: 700px;
  margin: 50px 0px;
}

.verified_icon {
  font-size: 38px;
  margin-left: 5px;
  color: #53b51f;
}

.verified-text-data {
  margin: 15px 0px;
}

/* Not verified certificate page */

.not_verified_icon {
  font-size: 38px;
  margin-left: 5px;
  color: red;
}

.notfound {
  max-width: 200px;
  margin: 20px 0px;
}

  
/*
EDIT certificate page style
Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding: 30px 0px;
}

/* Control the left side */
.left {
  left: 0;
  width: 65%;
  
  overflow: auto;
}

/* Control the right side */
.right {
  right: 0;
  width: 35%;
  padding-bottom: 100px;
  overflow: auto;
}

.edit_certificate{
  margin: 20px 50px;
}

.value_add_icon {
  vertical-align: middle;
  font-size: 18x;
  margin-left: 4px;
  color: #4B87FF;
}

.value_check_icon {
  vertical-align: middle;
  font-size: 18x;
  margin-left: 4px;
  color: #53b51f;
}

.btn-add-value {
  border: 1px solid gray;
  margin: 10px 5px;
}

.values_container {
  margin: 10px 0px;
}

.font_container {
  margin: 30px 0px;
}

.edit-font-name-input {
  max-width: 300px;
  display: inline-block;
}

.edit-font-size-input {
  max-width: 100px;
  display: inline-block;
}


.btn:focus {
  outline: none;
}

#fontColor {
  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

#certifyVerification {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #eee;
  vertical-align: middle;
  margin: 0px 20px;
  float: right;
}