<!DOCTYPE html>
<html>

<head>
	<meta name="propeller" content="25aab3a4b8776d8f8471983902728227">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certify</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
  
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/user.css') }}">
</head>
<body>



    <nav class="navbar navbar-expand-md bg-gray navbar-dark navbarcustom">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static',filename='assets/img/certifylogo.png') }}" width="100" class="d-inline-block align-top" alt="Certify">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Verify</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Create</a>
            </li>    
          </ul>
        </div>  
      </nav>



<div class="container verifycontainer">
  <center>
    <h1 class="verifyheading"><span>Upload Files</span></h1>

  <form action="/create" method="post" enctype="multipart/form-data">
    <div class="" style="padding: 50px 0px;">
    <div style="left:0; width: 40%; display: inline-block; padding-right: 25px; border-right: solid gray;">
      <h3>Spreadsheet</h3>
      <p>Upload Spreadsheet* with data of users you want to create certificate for.
        Supported formats: .csv
      </p>
    <input type="file" name="spreadsheet" />
    </div>
    
    
    <div style="display: inline-block; right:0; width: 40%; ">
      <h3>Template</h3>
      <p>Upload Template image to be used for all certificates.
        Supported formats: .jpg
      </p>
      <input type="file" name="template"/>
    </div>

    </div>
    <input type="submit" value="Proceed">
    </form>
</div>
</center>
    </div>


      


</body>

</html>