<!DOCTYPE html>
<html>

<head>
	<meta name="propeller" content="25aab3a4b8776d8f8471983902728227">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certify</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/eos-icons/dist/extended/css/eos-icons-extended.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
  
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/user.css') }}">
</head>
<body>



    <nav class="navbar navbar-expand-md bg-gray navbar-dark navbarcustom">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static',filename='assets/img/certifylogo.png') }}" width="100" class="d-inline-block align-top" alt="Certify">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/verify">Verify</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create">Create</a>
            </li>    
          </ul>
        </div>  
      </nav>


      <div class="create_edit_loading">
      <i class="eos-icons eos-icon-loading"></i>
      <p>Generating Files...</p>
      </div>

      <div class="split left">
        <div style="border-right: solid gray;">
        <img class="edit_certificate" src={{template}} alt="" height="500px">
      </div>
      </div>
        
    
    
    
    
      <div class="split right">
        <div class="container">
        
          <div class="values_container">
          <h5><b>Text Fields</b></h5>
          {%for i in values%}
            <button onclick="addValue(this)" class="btn btn-add-value">{{i}}<i class="eos-icons value_add_icon">add_circle</i></button>
          {%endfor%}
        </div>

        <div class="font_container">
          <h5><b>Font</b></h5>

          <div class="form-group">
            <label for="fontName"></label>
            <select class="edit-font-name-input form-control" id="fontName">
              <option>4</option>
              <option>8</option>
              <option>10</option>
              <option>12</option>
              <option>14</option>
              <option>16</option>
              <option>18</option>
              <option>22</option>
              <option>24</option>
              <option>28</option>
              <option>32</option>
              <option>36</option>
              <option>42</option>
              <option>48</option>
              <option>56</option>
              <option>72</option>
            </select>

            <label for="fontSize"></label>
            <select class="edit-font-size-input form-control" id="fontSize">
              <option>4</option>
              <option>8</option>
              <option>10</option>
              <option>12</option>
              <option>14</option>
              <option>16</option>
              <option>18</option>
              <option>22</option>
              <option>24</option>
              <option>28</option>
              <option>32</option>
              <option>36</option>
              <option>42</option>
              <option>48</option>
              <option>56</option>
              <option>72</option>
            </select>
          </div>


        <div class="edit-font-color" >
          <label for="edit-font-color-input">Select color: </label>
                <input type="color" id="fontColor" class="form-control" name="head"
                       value="#000000">
        </div>




        </div>

        <div class="certify_verification">
            <h5 style="display: inline-block;"><b>Certify Verification</b></h5>
            <input type="checkbox" name="certifyVerification" id="certifyVerification">
          </div>

          <div style="margin-top: 25px;">
          <a onclick="generate()" style="font-size: 20px;" class="edit-generate-btn" id="btn-blue-invert">Generate<i class="eos-icons" style="vertical-align: middle;">arrow_forward</i></a>
          </div>
      </div>


      <!-- Right container ends -->
      </div>
        
      



</body>

</html>