<!DOCTYPE html>
<html>

<head>
	<meta name="propeller" content="25aab3a4b8776d8f8471983902728227">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certify</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/eos-icons/dist/extended/css/eos-icons-extended.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
  
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/user.css') }}">
</head>
<body>



    <nav class="navbar navbar-expand-md bg-gray navbar-dark navbarcustom">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static',filename='assets/img/certifylogo.png') }}" width="100" class="d-inline-block align-top" alt="Certify">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/verify">Verify</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create">Create</a>
            </li>    
          </ul>
        </div>  
      </nav>



<div class="container verifycontainer">
  <center>
    <h2><span>Thank you for using Certify!</span></h2>
    
    <p>You can download your files here.</p>

    <img src="{{ url_for('static',filename='assets/img/download.png') }}" alt="Download.png" class="notfound">

    <div style="margin-top: 25px;">
      <p>Click here to download your files</p>
      <a onclick="downloadFiles()" style="font-size: 20px;" class="edit-generate-btn" id="btn-blue-invert">Download<i class="eos-icons" style="vertical-align: middle;">arrow_downward</i></a>
    </div>
</center>
    </div>


      


</body>

</html>