<div class="container" id="foot">
  <div class="row">
    <div class="col-sm" id="Heading">GET IN TOUCH WITH US.</div>

  </div>
  <div class="row">
    <div class="col-sm"> 
        <p id="Feedback"> Feedback</p>
        <p id="GSI">  Got some ideas or something new to say to us? </p>
        <a href="#" class="myButton" id="SUF">Send Us Feedback</a><br>



    </div>
    <div class="col-sm">
      <p id="rephead">Repository</p>
      <p id="repstat">Do you want to fork EOS icons,contribute,or report an issue?</p>

      <a href="#" class="myButton" id="REPO">Repository</a>
      <a href="#" class="myButton">Report Issue</a><br>


    </div>
  </div>
</div>