<!DOCTYPE html>
<html>

<head>
	<meta name="propeller" content="25aab3a4b8776d8f8471983902728227">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certify</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/eos-icons/dist/extended/css/eos-icons-extended.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
  
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/user.css') }}">
</head>
<body>



    <nav class="navbar navbar-expand-md bg-gray navbar-dark navbarcustom">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static',filename='assets/img/certifylogo.png') }}" width="100" class="d-inline-block align-top" alt="Certify">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Verify</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Create</a>
            </li>    
          </ul>
        </div>  
      </nav>



<div class="container verifycontainer">
  <center>
    <h1><span>Not Found!</span><i class="eos-icons not_verified_icon">do_not_disturb_alt</i></h1>
    
    <p class="verified-text-data">Your certificate doesn't seem Authentic. Couldn't verify the Certify code. </p>

    <img src="{{ url_for('static',filename='assets/img/not-found.png') }}" alt="Not_found.png" class="notfound">

</center>
    </div>


      


</body>

</html>